@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Estilos gerais para elementos HTML */
html,
body,
figure,
img {
  margin: 2px;
  padding: 20px;
  border: 0;
}

body {
  background-color: #818b37;
}

#cabecalho {
  background-color: #f2f2f2;
}

#cabecalho ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 10px 3px;
  border: 2px #3a1e07;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

form {
  background-color: #552e16;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  justify-content: normal;
  width: calc(50% - 50px);
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
  justify-content: center;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: calc(100% - 20px);
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.divider {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.button-group {
  display: flex;
}

.button-group2 {
  padding: 10px 20px;
  position: relative;
}

.button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 17px;

}

.button-group button.save {
  background-color: #4CAF50;
  color: white;
  margin: 10px
}

.button-group button.search {
  background-color: #4CAF50;
  color: white;
  margin: 10px
}

.button-group button.clear {
  background-color: #f0ad4e;
  color: white;
  margin: 10px
}

.button-group button.cancel {
  background-color: #d9534f;
  color: white;
  margin: 10px
}

.button-group button.generate {
  background-color: #4CAF50;
  color: white;
  margin: 10px
}

/* Estilização da tabela */
.table-group table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  /* Fundo branco */
  color: green;
  /* Texto verde */
  margin-bottom: 20px;
}

.table-group th,
.table-group td {
  border: 1px solid #ddd;
  /* Bordas das células */
  padding: 8px;
  text-align: left;
}

.table-group th {
  background-color: #f2f2f2;
}

.table-group tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-group tr:hover {
  background-color: #ddd;
}

/* Outras estilizações */
.divider {
  height: 1px;
  width: 100%;
  background-color: #ddd;
  margin: 20px 0;
}

#resultadoConsulta,
#resultadoRelatorio {
  background-color: #552e16;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  justify-content: normal;
  margin: 0 auto;
  margin-bottom: 15px;
  display: block;
  border: 1px solid #ccc;
  margin-top: 30px;
}